* {
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
h4 {
    font-weight: 300;
    letter-spacing: 0.28px;
}
.header_link {
    font-weight: 700;
    color: #2A74DB;
}
h1 {
    font-size: 28px;
    color: #002396;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0.4px;
    margin-left: -310px;
    margin-top: 70px;
}
form {
    position: absolute;
    display: flex;
    top: 207px;
    left: 403px;
    flex-direction: column;
    align-items: center;
    width: 632px;
    height: 416px;
    box-shadow: 0px 5px 40px rgba(0, 45, 113, 0.06);
    border-radius: 10px;
}
input {
    border: 2px solid #F2F2F2;
    border-radius: 2px;
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
}
input:focus {
    outline: none;
    border: 2px solid #F2F2F2;
    border-left: 3px solid #2A74DB;
}

.forgot_pass {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.28px;
    margin-top: 10px;
    margin-right: -305px;
}
button {
    background-color: #0AD69C;
    border: #0AD69C;
    width: 188px;
    height: 43px;
    border-radius: 2px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0.4px;
    margin-right: -230px;
    margin-top: 20px;
}
button:hover {
    cursor: pointer;
    opacity: 0.7;
}
button:focus {
    outline: none;
}
.fisrt_circle {
    position: absolute;
    width: 907px;
    height: 907px;
    left: 263px;
    top: -73px;
    border-radius: 50%;
    background: rgba(254, 254, 254, 0.45);
    box-shadow: 0px 0px 42px rgba(231, 231, 231, 0.13);
    z-index: -10;
}
.second_circle {
    position: absolute;
    width: 765px;
    height: 765px;
    left: 70px;
    top: 75px;
    border-radius: 50%;
    background: rgba(254, 254, 254, 0.45);
    box-shadow: 0px 0px 42px rgba(231, 231, 231, 0.36);
    z-index: -7;
}
.third_circle {
    position: absolute;
    width: 614px;
    height: 614px;
    left: 70px;
    top: 75px;
    border-radius: 50%;
    background: rgba(254, 254, 254, 0.54);
    box-shadow: 0px 0px 42px rgba(231, 231, 231, 0.41);
    z-index: -5;
}
.fourth_circle {
    position: absolute;
    width: 437px;
    height: 437px;
    left: 85px;
    top: 85px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.54);
    box-shadow: 0px 0px 42px rgba(231, 231, 231, 0.43);
    z-index: -3;
}
.central {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 150px;
}
h2 {
    width: 883px;
    height: 71px;
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #2A74DB;
    margin-bottom: 0px;
}
p {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.4px;
    margin-top: 0px;
}